:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Landing Page */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    font-size: 18px;
    min-width: 440px;
    max-width: 1300px;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
    padding: 0.5vw;
}

header {
    width: 100%;
    z-index: 50;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 3rem;
    height: 7rem;
}

.header-logo img {
    height: 35px;
    padding-left: 12px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    width: 100%;
    background-color: white;
}

.menu a {
    padding: 12px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #000000;
}

.menu a:hover, a.active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
}

#menu_icon {
    position: absolute;
    top: 0px;
    right: 15px;
    display: none;
    color: var(--red-highlight);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: large;
}

main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    text-align: justify;
}

.hero-section {
    min-height: 33vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.hero-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 424px;
}

.hero-content::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
}

.hero-content>* {
    position: relative;
    z-index: 1;
}

.hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
}

.hero-text {
    width: 146%;
    font-weight: normal;
    margin-top: 57px;
    padding: 0;
}

.btn-signup {
    outline: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 0;
    margin-top: 59px;
}

.hero-img {
    grid-column: span 8;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 0;
}

.copyrights {
    color: #fe142f;
    padding: 0;
    font-size: 1rem;
    margin: 30px 0 30px;
    font-weight: bolder;
}

.hero-section>.btn-signup {
    display: none;
}

footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
}

@media screen and (max-width: 1024px) {
    .topnav {
        position: relative;
    }

    .header-logo img {
        height: 30px;
        z-index: 2000;
    }

    .navbar {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1000;
        background-color: white;
    }

    .menu {
        flex-direction: column;
        gap: 5px;
        top: 1.5rem;
    }

    .topnav a {
        display: none;
    }

    #menu_icon {
        display: block;
        top: 2.2rem;
    }

    .responsive a {
        display: block;
        text-align: left;
    }

    .hero-section {
        display: block;
        box-shadow: unset;
    }

    .hero-content {
        background: #fff;
        color: #000;
        padding: 20px;
    }

    .hero-content::after {
        content: unset;
    }

    .hero-content .btn-signup {
        display: none;
    }

    .hero-headline {
        font-size: 4.5rem;
        white-space: normal;
    }

    .hero-text {
        width: unset;
        font-size: 1.5rem;
    }

    .hero-img img {
        border-radius: 10px;
        margin-top: 40px;
    }

    .hero-section>.btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px 35px;
    }

    .copyrights {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .hero-headline {
        font-size: 3rem;
    }

    .hero-text {
        font-size: 1.2rem;
    }
}